*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*rule flex*/

.container-flex{
    display: flex;
}

/*/rule flex*/

/*box rule*/

header{
    height: 78px;
    background-color: #add8e6;
    display: flex;
}
div{
    align-self: center;
    margin: 0 auto;
}
.box-menu{
    width: 1200px;
    height: 50px;
    background-color: #daa520;
    
}

.height{
    border: 1px dashed black;
    height: 100%;
}

.padding{
    padding: 10px;
}

/*/box rule*/

.logo{
    flex-basis: 25%;
}

.link{
    flex-basis: 50%;
    list-style-type: none;
    gap: 9px;
    justify-content: center;
    align-content: center;
}


.login{
    flex-basis: 25%;
    justify-content: flex-end;
}


