*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*rule flex*/

.container-flex{
    display: flex;
}

.maon-flex{
    display: flex;
    flex-direction: column;
}

/*/rule flex*/

/*box rule*/

header{
    height: 78px;
    background-color: #add8e6;
    display: flex;
}
div{
    align-self: center;
    margin: 0 auto;
}
.box-menu{
    width: 1200px;
    height: 50px;
    background-color: #daa520;
    
}

.height{
    border: 1px dashed black;
    height: 100%;
}

.padding{
    padding: 10px;
}

.fbasis{
   flex-basis: 25%; 
}

/*/box rule*/

/*header rule*/

.link{
    flex-basis: 50%;
    list-style-type: none;
    gap: 9px;
    justify-content: center;
    align-content: center;
}


.login{
    justify-content: flex-end;
}

/*/header rule*/

/*backround color*/

.bg-white{
    background-color: white;
}

.bg-gris{
    background-color: #d3d3d3;
}

.bg-black{
    background-color: #23272a;
}

/*/backround color*/

/*main rule*/

.main-flex{
    display: flex;
    flex-direction: column;
}

.p-div{
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    display: flex;
}

.rose-box{
    background-color: #ee82ee;
    width: 910px;
    height: 400px;
}

.blue{
    background-color: #00008b;
}

.margin{
    flex-direction: row;
    border: 1px dashed black;
}

.big-box{
    background-color: #1e90ff;
    width: 720px;
    height: 490px;
}

.small-box{
    background-color: #ffc0cb;
    height: 490px;
    width: 480px;

}
article{
    display: flex;
    margin: 0 auto;
}

.green-box{
    background-color: #228b22;
    width: 1200px;
    height: 900px;
}

.box-rose-large{
    width: 360px;
    height: 580px;
    background-color: #ef7f7f;
}

.box-azure-small{
    height: 580px;
    width: 210px;
    background-color: #22b1a9;
    border: 1px dashed white;
}

/*/main rule*/

/*footer rule*/

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #23272a;
    margin-top: 3px;
    padding-top: 50px;
}

.box-footer{
    width: 1200px;
    height: 80px;
    display: flex;
    background-color: #7fffd4;
    align-items: center;
    justify-content: space-between;
}

.final-box{
    background-color: #ffb6c1;
    padding: 3px;
    border: 1px dashed black;
}

/*/footer rule*/